<nav class="navbar navbar-expand-lg navbar-dark" style="background: rgb(12, 12, 12); color: rgb(255, 255, 255);">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <!-- <a class="navbar-brand" href="#">
      <img src="../../../assets/img/mcdonalds-logo.png" style="width: 40px; height: 40px;">
    </a> -->
    <span class="page-title">Agent Escalation Portal</span>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
      </li>
    </ul>
    <span class="user-info">
      <span style="border-right: 2px solid rgba(247, 244, 244, 0.945); padding-right: 1rem">Hello! <strong>Vinay Raju</strong></span>
      <span style="padding-left: 1rem; cursor:pointer" (click)="signOut()"><span class="fa fa-fw fa-sign-out"></span> Sign-Out</span>
    </span>
  </div>
</nav>

